*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    background-color: rgb(170, 243, 165);
    padding: 20px;
    text-align: center;
}

.container {
    background-color: rgb(190, 143, 231);
    padding: 50px;
    margin: auto;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(241, 1, 133);
}

input{
    padding: 10px;
    margin: 5px;
    width: 30%;
    border-radius: 15px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    background-color: chartreuse;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td{
    border: 1px solid rgb(254, 221, 0);
    padding: 10px;
}

button.edit{
    background-color: rgb(122, 112, 54);
}

button.delete{
    background-color: red;
}